*.pyc
docs/_build/**
mock.*.egg
unittest2-*.egg/
dist/**
.idea/**
*.iml
*.ipr
.vagrant
build/
.coverage
.tox/
.pypirc
.venv
vscode
dist
logs/*
aiotest.egg-info
aiotest/test/reports/*
aiotest/test/log.log