version: '3'
  
services:
  local:
    image: aiotest:latest
    ports:
     - "8089:8089"
     - "5557:5557"
    volumes:
      - ./:/root/aiotest
    command: aiotest -f aiotestfile.py
    # docker-compose -f docker-compose-local.yml up -d
