version: '3'
  
services:
  master:
    image: aiotest:latest
    ports:
     - "8089:8089"
     - "5557:5557"
    volumes:
      - ./:/root/aiotest
    command: aiotest -f aiotestfile.py --master --expect-workers 8
    # docker-compose -f docker-compose-master.yml up -d