version: '3'
  
services:
  local:
    image: aiotest:0.5.6
    ports:
     - "8089:8089"
     - "5557:5557"
    volumes:
      - ./:/root/aiotest
    command: aiotest -f aiotestfile.py --worker --master_host "127.0.0.1" --master_port 5557 -L INFO
    # docker-compose -f docker-compose-worker.yml up -d