global:
  scrape_interval: 1m

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: ["localhost:9090"]

  # Collect resource usage and performance data of test hosts
  - job_name: "192.168.0.10"
    static_configs:
      - targets: ["192.168.0.10:9100"]
  - job_name: "192.168.0.11"
    static_configs:
      - targets: ["192.168.0.11:9100"]
  - job_name: "192.168.0.12"
    static_configs:
      - targets: ["192.168.0.12:9100"]
  - job_name: "192.168.0.13"
    static_configs:
      - targets: ["192.168.0.13:9100"]
  - job_name: "192.168.0.14"
    static_configs:
      - targets: ["192.168.0.14:9100"]

  # Collect aiotest load test data
  - job_name: aiotest
    scrape_interval: 5s
    static_configs:
      - targets: ["192.168.0.10:8089"]
        labels:
          instance: aiotest